body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%; 
  max-height: 100%; 
  font-family:Sans-serif;
  line-height: 1.5em;
}

main {
  position: fixed;
  left: 200px; /* Width of the nav bar */
  bottom: 100px; /* Set this to the height of the footer */
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto; 
  background: #fff;
  margin-left: -10px;
}

#contentFrame {
  height: 100%;
  max-height: 1000px;
  width: 100%;  
}

.innertube {
  height: 100%;
  overflow: hidden;
  padding-left:10px;
}

#nav {
  height: 100%;
  position: absolute; 
  left: 0;
  top: 0;
  bottom: 100px; 
  width: 200px;
  overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
  background: #173F5F; 		
}

nav h1 {
  color: whitesmoke; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav p {
  line-height:20px;
  font-size:12px;
  color: whitesmoke;
}

nav a {
  color: blanchedalmond; 
}

nav ul a {
  color: blanchedalmond;
  text-decoration: none;
}

/*IE6 fix*/
* html body{
  padding: 0 0 100px 230px; /* Set the third value to the height of the footer and last value to the width of the nav */
}

* html main{ 
  height: 100%; 
  width: 100%; 
}
